@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-regular.woff") format("woff"),
    url("../fonts/lato-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-black.woff") format("woff"),
    url("../fonts/lato-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-heavyitalic.woff") format("woff"),
    url("../fonts/lato-heavyitalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
