.category
  font-style: normal
  font-weight: 900
  font-size: 12px
  line-height: 15px
  letter-spacing: 0.5px
  text-transform: uppercase
  &-color
    &_blue
      color: $blue
    &_bluegreen
      color: #3BBDC4
    &_greyblue
      color: #6E99AE
    &_purle
      color: #AC8EE3
    &_orange
      color: #FFA34D
    &_green
      color: #3DC47E
.title
  margin: 0
  padding: 0
  font-family: "Roboto Slab", serif
  font-style: normal
  font-weight: bold
  font-size: 40px
  line-height: 50px
.button
  display: flex
  position: relative
  padding: 10px 44px 10px 20px
  width: 154px
  height: 40px
  text-align: center
  font-style: normal
  font-weight: 900
  font-size: 14px
  line-height: 20px
  border-radius: 20px
  color: #fff
  background-color: $blue
  cursor: pointer
  white-space: nowrap
  overflow-x: hidden !important
  text-overflow: ellipsis
  &__arrow
    position: absolute
    top: 10px
    right: 20px
  &__images
    margin-right: 8px
  &__counter
    margin-left: 8px
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
.text
  &-main
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
.info
  margin-left: 5px
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
  color: $text-color-light
  &_date
    margin-left: 0
.label
  padding: 5px 12px
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
  border-radius: 3px
  color: #fff
  background-color: #3DC47E
.social
  &-icon
    cursor: pointer
    width: 40px
    height: 40px
    &_facebook
      fill: #4267B2
    &_twitter
      fill: #1DA1F2
    &_youtube
      fill: #FF0000
    &_instagram
      fill: #262626
.close
  &-icon
    fill: #BCBFC2
    cursor: pointer
    width: 20px
    height: 20px
.error
  color: red

// Slider pagination styles
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
  margin: 0 8.5px
.swiper-pagination
  margin-bottom: 32px
  &-bullet
    background-color: #D9DADB
    &-active
      background-color: white

// Global button mouseover settings
@media (min-width: 993px)
  .button
    &:hover
      transition-duration: 0.3s
      background-color: $blue-hover
  .social
    &-icon
      &_facebook
        &:hover
          fill: #486fbe
      &_twitter
        &:hover
          fill: #33b1ff
      &_youtube
        &:hover
          fill: #ff2626
      &_instagram
        &:hover
          fill: #333333
  .close
    &-icon
      &:hover
        fill: $background-dark

// Global media settings
@media (max-width: 992px)
  .title
    font-size: 30px
    line-height: 40px
