*
  box-sizing: border-box

body
  font-family: 'Lato-Regular', sans-serif
  // background-color: #000
  // color: $text-color
img
  max-width: 100%
button
  border: none
  cursor: pointer
  outline: none
  white-space: nowrap
  overflow-x: hidden !important
  text-overflow: ellipsis
input, textarea
  &:focus
    outline: none
.container
  max-width: 1140px
  margin: auto
